<div class="@LifeArenaBodyCssClass" @onwheel="OnWheel"
     field-translate-x="@_fieldTranslateX" field-translate-y="@_fieldTranslateY">
    <div class="@LifeArenaFieldCssClass" 
         style="transform: translate(@(_fieldTranslateX)px, @(_fieldTranslateY)px) scale(@_zoom)">
        @for (int y = FieldHeight - 1; y >= 0; y--)
        {
            <div class="life-arena-row">
                @for (int x = 0; x < FieldWidth; x++)
                {
                    <LifeArenaCell IsAlive="_livingCells[x, y]"/>
                }
            </div>
        }
    </div>
</div>